doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Portfolio
    link(href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Ribeye" rel="stylesheet")
    link(href='css/style.css', rel='stylesheet')

    
    script(src='js/jquery-1.12.4.min.js')
    script(src='js/main.js')


  body#pageTop
    header.ly-header.index-view#js-headerBlock
      .index-headerBlock
        .ly-contentWrapper
          h1.hl-style01 
            a(href='#pageTop') Portfolio
          p.index-Caption ポートフォリオ
          p.index-github 
            a(href='https://github.com/kan2121/portfolio201705')
              span GitHubリポジトリ
          .index-TopBg
            nav.index-pageNavBlock
              a(href='#skillBlock').index-btnStyle01.index-pageNavBlock__btn.index-pageNavBlock__btn--skill
                span.index-btnStyle01__ttl skill
                span.index-btnStyle01__cap スキル
              a(href='#profileBlock').index-btnStyle01.index-pageNavBlock__btn.index-pageNavBlock__btn--prof
                span.index-btnStyle01__ttl profile
                span.index-btnStyle01__cap プロフィール
            p.index-pageScrollBtnBox 
              a(href='#skillBlock').index-pageScrollBtn scroll

    .ly-wrapper
      main.main#js-mainBlock
        section.index-pageBlock#skillBlock
          .ly-contentWrapper
            h2.hl-style02.hl-style02--skill 
              span.hl-style02__title Skill
              span.hl-style02__caption スキル
            h3.hl-style03 グラフィックツール
            ul.index-skillList
              li.index-skillList__item 
                dl.index-skillinnerBox.index-skillinnerBox--ps
                  dt.index-skillinnerBox__ttl Photoshop
                  dd.index-skillinnerBox__txt 画像の加工、レタッチ
                  dd.index-skillinnerBox__txt gifアニメの作成
              li.index-skillList__item 
                dl.index-skillinnerBox.index-skillinnerBox--ill
                  dt.index-skillinnerBox__ttl Illustrator
                  dd.index-skillinnerBox__txt パスツールを使用したイラスト
                  dd.index-skillinnerBox__txt SVG画像の作成

              li.index-skillList__item 
                dl.index-skillinnerBox.index-skillinnerBox--fla
                  dt.index-skillinnerBox__ttl Animate(flash)
                  dd.index-skillinnerBox__txt キーフレームアニメーション
                  dd.index-skillinnerBox__txt AS 3.0でのコンテンツ作成
            h3.hl-style03 言語等
            ul.index-skillList
              li.index-skillList__item 
                dl.index-skillinnerBox.index-skillinnerBox--html5
                  dt.index-skillinnerBox__ttl HTML
                  dd.index-skillinnerBox__txt HTML5/4.01
                  dd.index-skillinnerBox__txt フィーチャーフォン向け

              li.index-skillList__item 
                dl.index-skillinnerBox.index-skillinnerBox--css
                  dt.index-skillinnerBox__ttl CSS
                  dd.index-skillinnerBox__txt レスポンシブページ
                  dd.index-skillinnerBox__txt BEM
                  dd.index-skillinnerBox__txt ECSS
              li.index-skillList__item 
                dl.index-skillinnerBox.index-skillinnerBox--js
                  dt.index-skillinnerBox__ttl JavaScript 
                  dd.index-skillinnerBox__txt jQuery
                  dd.index-skillinnerBox__txt canvas

              li.index-skillList__item 
                dl.index-skillinnerBox.index-skillinnerBox--sass
                  dt.index-skillinnerBox__ttl Sass 
                  dd.index-skillinnerBox__txt Sassを利用したcss作成

              li.index-skillList__item 
                dl.index-skillinnerBox.index-skillinnerBox--pug
                  dt.index-skillinnerBox__ttl Pug(Jade) 
                  dd.index-skillinnerBox__txt HTMLテンプレートからのページ作成
              li.index-skillList__item 
                dl.index-skillinnerBox.index-skillinnerBox--gulp
                  dt.index-skillinnerBox__ttl gulp.js 
                  dd.index-skillinnerBox__txt node.jsのインストールからタスクの設定まで
              li.index-skillList__item 
                dl.index-skillinnerBox.index-skillinnerBox--git
                  dt.index-skillinnerBox__ttl Git 
                  dd.index-skillinnerBox__txt GUIでの操作

              li.index-skillList__item 
                dl.index-skillinnerBox.index-skillinnerBox--md
                  dt.index-skillinnerBox__ttl etc...
                  dd.index-skillinnerBox__txt Markdown
                  dd.index-skillinnerBox__txt WAI-ARIA
                  dd.index-skillinnerBox__txt Emmet


        section.index-profBlock#profileBlock
          .ly-contentWrapper
            h2.hl-style02.hl-style02--prof
              span.hl-style02__title Profile
              span.hl-style02__caption プロフィール
            dl.index-profList
              dt.index-profList__ttl 経歴
              dd.index-profList__txt webデザイン/マークアップ：１０年〜
              dd.index-profList__txt JavaScript（jQuery）：4年〜
              dt.index-profList__ttl 目標
              dd.index-profList__txt デザイナーの軸を持ちつつ、フロントエンドエンジニアを目指しています
              dt.index-profList__ttl 勉強中
              dd.index-profList__txt サーバサイド技術
              dd.index-profList__txt JavaScript(ES2015/ES6)
              dd.index-profList__txt Linux




    footer.ly-footer#js-footerBlock

        p.index-pageTopBtnBox
          a(href='#pageTop').index-pageTopBtn pageTop
        
        